# Dependencies
node_modules/

# Environment files
.env
.env.*
!.envExample

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Build / coverage
dist/
build/
coverage/
*.lcov

# Cache / temp
.cache/
.npm/
.eslintcache
tmp/
temp/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
